<!doctype html>
  <!--[if gt IE 8]><!-->
  <html class="no-js">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Uber Event - Conference & Event Landing Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="andrewdevelopments">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="styles/main.min.css">
    <link rel="stylesheet" href="styles/custom.css">

    <!-- Color Schemes -->
    <!-- <link rel="stylesheet" href="styles/colors/red.css"> -->
    <!-- <link rel="stylesheet" href="styles/colors/green.css"> -->
    <!-- <link rel="stylesheet" href="styles/colors/purple.css"> -->
    <!-- <link rel="stylesheet" href="styles/colors/pink.css"> -->
    <!-- <link rel="stylesheet" href="styles/colors/yellow.css"> -->
    <!-- <link rel="stylesheet" href="styles/colors/aqua.css"> -->
    <!-- <link rel="stylesheet" href="styles/colors/coral.css"> -->
    <!-- <link rel="stylesheet" href="styles/colors/cardinal.css"> -->
    <!-- <link rel="stylesheet" href="styles/colors/orange.css"> -->
    <!-- <link rel="stylesheet" href="styles/colors/brown.css"> -->

    <!-- Modernizr 2.8.3 -->
    <script src="scripts/modernizr-2.8.3.min.js"></script>
  </head>
  <body>

    <div class="loader">
      <div class="loader-animation"></div>
    </div>

    <!-- Header -->
    <header id="top" class="parallax overlay" data-background="images/speaker-page/speaker-poster.jpg">

      <nav class="navbar">
        <div class="container">

          <div class="logo">
            <a href=""><img src="images/logo-light.png" data-scroll-logo="images/logo-small.png" alt="Logo"></a>
          </div>

          <div class="mobile-nav">
            <i class="fa fa-bars"></i>
          </div>

          <ul class="menu">
            <li><a href="index.html">All demos</a></li>
            <li><a href="page-event-submission.html">Event Submission</a></li>
            <li><a href="page-organizer.html">Organizer Page</a></li>
            <li><a href="page-speaker.html">Speaker Page</a></li>
            <li>
              <a href="#latest-news">Blog</a>
              <ul>
                <li>
                  <a href="#">Columns <i class="fa fa-angle-right"></i></a>
                  <ul>
                    <li><a href="blog-columns-2col.html">2 Columns</a></li>
                    <li><a href="blog-columns-3col.html">3 Columns</a></li>
                    <li><a href="blog-columns-4col.html">4 Columns</a></li>
                    <li><a href="blog-sidebar-left.html">Sidebar Left</a></li>
                    <li><a href="blog-sidebar-right.html">Sidebar Right</a></li>
                  </ul>
                </li>
                <li><a href="blog-single-fullwidth.html">Single Full Width</a></li>
                <li><a href="blog-single.html">Single Sidebar Right</a></li>
                <li><a href="blog-single2.html">Single Sidebar Left</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Pages</a>
              <ul>
                <li><a href="page-login.html">Login / Register</a></li>
                <li><a class="feature" data-feature="new" href="page-event-submission.html">Event Submission</a></li>
                <li><a class="bonus" data-feature="bonus" href="page-organizer.html">Organizer Page</a></li>
                <li><a class="bonus" data-feature="bonus" href="page-speaker.html">Speaker Page</a></li>
                <li><a href="page-pricing.html">Pricing</a></li>
                <li><a href="page-404.html">Error 404</a></li>
                <li><a href="page-under-construction.html">Under Construction</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Events</a>
              <ul>
                <li><a href="event-page-default.html">Default</a></li>
                <li><a href="event-page-fundraising.html">Fundraising</a></li>
                <li><a href="event-page-parallax.html">Parallax</a></li>
                <li><a href="event-page-cover.html">Cover</a></li>
                <li><a href="event-page-video.html">Video</a></li>
                <li><a href="event-page-map.html">Google Map</a></li>
                <li><a href="event-page-countdown.html">Countdown</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </nav>

      <div class="page-section-small">
        <div class="container">
          <div class="row">
            <div class="c-12 cover-wrapper light">
              <h1>Laurita Fernandes</h1>
              <p><strong>Creative Director</strong></p>
              <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.</p>
              <div class="social-links">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google-plus"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </header>

    <section class="page-section-small">
      <div class="container">
        <div class="row">

            <!-- Event Content -->
            <div class="c-9">

              <!-- Widget -->
              <div class="widget">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum error, nisi porro asperiores deserunt magni laboriosam saepe eligendi quos. Incidunt quia voluptatum officiis maiores consectetur provident temporibus dignissimos ex facere?</p>
              </div>

              <!-- Widget -->
              <div class="widget">
                
                <div class="widget-title">
                  <h3>Upcoming Events</h3>
                </div>

                <table class="align-center">
                  <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Date</strong></td>
                    <td><strong>Type</strong></td>
                    <td><strong>Link</strong></td>
                  </tr>
                  <tr>
                    <td><a href="event-page-video.html">Apple Winter Edition</a></td>
                    <td>13/11/2015</td>
                    <td>Free Entry</td>
                    <td><a href="event-page-video.html" class="btn">View Event</a></td>
                  </tr>
                  <tr>
                    <td><a href="event-page-video.html">Web Developer Workflow</a></td>
                    <td>14/11/2015</td>
                    <td>Private</td>
                    <td><a href="event-page-video.html" class="btn">View Event</a></td>
                  </tr>
                </table>

              </div>

              <!-- Widget -->
              <div class="widget">

                <div class="widget-title">
                  <h3>Past Events</h3>
                </div>

                <table class="align-center">
                  <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Date</strong></td>
                    <td><strong>Type</strong></td>
                    <td><strong>Link</strong></td>
                  </tr>
                  <tr>
                    <td><a href="event-page-video.html">Web Designer Space</a></td>
                    <td>13/08/2014</td>
                    <td>VIP</td>
                    <td><a href="event-page-video.html">View Event</a></td>
                  </tr>
                  <tr>
                    <td><a href="event-page-video.html">Power to the People</a></td>
                    <td>13/09/2014</td>
                    <td>Fundraising</td>
                    <td><a href="event-page-video.html">View Event</a></td>
                  </tr>
                  <tr>
                    <td><a href="event-page-video.html">Private Meeting</a></td>
                    <td>10/08/2014</td>
                    <td>Private</td>
                    <td><a href="event-page-video.html">View Event</a></td>
                  </tr>
                </table>

              </div>
              
            </div>

            <!-- Sidebar -->
            <div class="c-3 sidebar">

              <!-- Widget -->
              <div class="widget">
                <p><strong>Occupation: </strong>Creative Director</p>
                <p><strong>Company: </strong>Sammys</p>
                <p><strong>Website: </strong><a href="#">laurita.com</a></p>
                <p><strong>Email: </strong><a href="#">lauritar@gmail.com</a></p>
              </div>

              <!-- Widget -->
              <div class="widget">
                <div class="widget-title">
                  <h3>Skills</h3>
                </div>

                <!-- Progress bar -->
                <div class="progress dark">
                  <span>Speaker</span>
                  <div class="skill">
                    <div class="skill-bar" style="width: 100%">
                      <div class="skill-info">100%</div>
                    </div>
                  </div>
                </div>

                <!-- Progress bar -->
                <div class="progress dark">
                  <span>Web Developer</span>
                  <div class="skill">
                    <div class="skill-bar" style="width: 80%">
                      <div class="skill-info">80%</div>
                    </div>
                  </div>
                </div>

                <!-- Progress bar -->
                <div class="progress dark">
                  <span>Marketing</span>
                  <div class="skill">
                    <div class="skill-bar" style="width: 89%">
                      <div class="skill-info">89%</div>
                    </div>
                  </div>
                </div>

                <!-- Progress bar -->
                <div class="progress dark">
                  <span>SEO</span>
                  <div class="skill">
                    <div class="skill-bar" style="width: 74%">
                      <div class="skill-info">74%</div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </section>

    <footer>
      <nav class="social-links">
        <a href="#facebook" class="fa fa-facebook"></a>
        <a href="#twitter" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google-plus"></a>
        <a href="#" class="fa fa-pinterest-p"></a>
        <a href="#" class="fa fa-youtube"></a>
      </nav>
      <p class="copyright-info"><i class="fa fa-heart"></i> 2015 Uber Event. All rights reserved</p>
    </footer>

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="scripts/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="scripts/plugins.min.js"></script>
    <script src="scripts/main.min.js"></script>

    <script>
        // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        // e.src='//www.google-analytics.com/analytics.js';
        // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        // ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>

  </body>
</html>