.light {
	color: $light;
	* {
		color: $light;
	}
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.page-section {
	padding: 120px 0;
}
.page-section-small {
	padding: 80px 0;
}
.page-section-nospace {
	padding-top: 0;
}
.page-section-nospace-bottom {
	padding-bottom: 0;
}
.overlay {
	&:after {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: $black;
		@include opacity(0.6);
	}
	&.overlay-dark {
		&:after {
			background: $black;
		}
	}
	&.overlay-light {
		&:after {
			background: $light;
		}
	}
	.over-overlay {
		position: relative;
		z-index: 2;
	}
}
.image-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}
.nopadding {
	padding: 0;
}
.nomargin {
	margin: 0;
}
.container-full {
	padding: 0;
	.row {
		margin: 0;
	}
}
.simple-list, .wst-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.wst-list {
	li {
		margin: 10px 0;
		a {
			display: block;
			border-bottom: 2px solid $theme-light-background;
			padding: 5px;
			color: $black;
			&:hover, &:focus {
				color: $theme-color;
				border-color: $theme-color;
			}
		}
		span {
			float: right;
			font-size: 16px;
		}
	}
	&.solid {
		li {
			a {
				background: $theme-light-background;
				color: $theme-color;
				display: block;
				padding: 12px 16px;
				@include radius(5px);
				&:hover, &:focus {
					background: $theme-color;
					color: $light;
				}
				span {
					float: right;
				}
			}
		}
	}
}
.title {
	margin-bottom: 80px;
	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
	}
	&.half-margin {
		margin-bottom: 30px;
	}
	p, span {
		margin: 20px 0 0;
		font-size: 20px;
		& strong {
			color: $theme-color;
		}
	}
	&.nomargin {
		margin: 0;
	}
}
.status {
	background: $alert-info;
	color: $light;
	font-size: $button-size;
	text-transform: uppercase;
	padding: 10px 20px;
	display: inline-block;
	font-weight: 700;
	margin-left: 30px;
	@include radius(5px);
	&.fullwidth {
		display: block;
		margin: 0;
	}
	&.free-entry {
		background: $alert-success;
	}
	&.sold-out {
		background: $alert-error;
	}
	&.fundraising {
		background: $alert-warning;
	}
	&.private {
		background: $theme-dark-color;
	}
	&.vip-tickets {
		background: $theme-third-color;
	}
}
header .status {
	margin: 8px 0 0;
}
.inner-title {
	padding-top: 120px;
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 15px;
		font-family: $paragraphs-font;
		font-weight: 600;
	}
	p, span {
		margin-bottom: 40px;
	}
}
hr {
	padding: 0;
	height: 1px;
	border: none;
	background: $theme-light-background;
	margin: auto;
	@include box-shadow(none);
}
.section-solid {
	background: $theme-light-background;
	&.colored {
		background: $theme-color;
	}
	&.dark {
		background: $theme-dark-color;
	}
}
strong.colored {
	color: $theme-color;
}

@for $i from 1 through 10 {
	[class*="margin-#{$i}"] {
		margin: ( $i * 10 ) + px  0;
		display: block;
	}
}
.alert {
	background: $light;
	position: fixed;
	height: auto;
	padding: 40px;
	margin: 40px;
	z-index: 1001;
	visibility: hidden;
	@include opacity(0);
	@include radius(5px);
	@include transition(all 250ms);
	@include box-shadow(0 0 5px #ccc);
	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		margin-bottom: 20px;
	}
	&.dark {
		background: $theme-dark-color;
		@include box-shadow(none);
		.close {
			&:hover {
				color: $theme-color;
			}
		}
	}
	.close {
		position: absolute;
		top: 15px;
		right: 20px;
		font-size: 20px;
		color: #ccc;
		cursor: pointer;
		@include transition(all 250ms);
		&:hover {
			color: $black;
		}
	}
	&.fancy {
		@include transform(perspective(2000px) rotateX(60deg));
	}
	&.in-viewport {
		visibility: visible;
		@include opacity(1);
		&.fancy {
			@include transform(perspective(2000px) rotateX(0));
		}
	}
}